#results-bio {
  width: 400px;
}

.results-img {
  cursor: pointer;
  height: 150px;
  margin-right: 1rem;
  object-fit: cover;
  width: 150px;
}

.results-name {
  cursor: pointer;
  text-decoration: underline transparent;
  transition: 0.3s;
}

.results-name:hover {
  text-decoration: underline;
}

@media (max-width: 710px) {
  #results-name {
    width: 200px;
  }

  #results-bio {
    width: 360px;
  }
}

@media (max-width: 480px) {
  #results-name {
    width: 100%;
  }

  #results-bio {
    width: 260px;
  }
}
