#results-bio {
  width: 400px;
}

.results-box {
  background-color: #fffcf1;
  border: 2px solid #4f71bb;
  border-radius: 10px;
  box-shadow: 0 0 5px #c929c9;
  padding: 1rem;
}

.results-img {
  cursor: pointer;
  height: 150px;
  margin-right: 1rem;
  object-fit: cover;
  width: 150px;
}

.results-name {
  cursor: pointer;
  text-decoration: underline transparent;
  transition: 0.3s;
}

.results-name:hover {
  text-decoration: underline;
}

@media (max-width: 710px) {
  #results-name {
    width: 200px;
  }

  #results-bio {
    width: 360px;
  }
}

@media (max-width: 480px) {
  #results-name {
    width: 100%;
  }

  #results-bio {
    width: 260px;
  }
}
