#modal-container {
  /* make body position: relative; */
  background-color: #fff;
  height: 700px;
  left: 50%;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}