#selected-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

#selected-img {
  height: 250px;
  margin-right: 1rem;
}

.back-btn {
  bottom: 20px;
  color: #c929c9;
  cursor: pointer;
  position: relative;
  text-decoration: underline;
}