#selected-img {
  height: 250px;
  margin-right: 1rem;
  object-fit: cover;
  width: 250px;
}

#add-tag {
  background-color: #bdd2ff;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 0.5rem;
}

#add-tag:active {
  background-color: #b0c9ff;
}

.back-btn {
  bottom: 20px;
  color: #c929c9;
  cursor: pointer;
  position: relative;
  text-decoration: underline;
}

@media (max-width: 710px) {
  #selected-img {
    height: 200px;
    width: 200px;
  }

  #selected-grid-img {
    width: 200px;
  }
}

@media (max-width: 480px) {
  #selected-img {
    height: 250px;
    width: 250px;
  }

  #selected-grid-img {
    width: 250px;
  }
}
