#selected-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

#selected-img {
  height: 250px;
  margin-right: 1rem;
}

.form-input {
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  font-size: 1.3rem;
  height: 45px;
  padding: 0 10px;
  width: calc(100% - 20px);
}