#search-container {
  border: 2px solid black;
  border-radius: 10px;
  margin: 2rem auto;
  width: 598px;
  padding: 1rem;
}

#searchbar {
  border-radius: 10px;
  font-size: 1.3rem;
  height: 45px;
  margin-bottom: 1rem;
  width: 90%;
}

#filter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  text-align: left;
  width: 90%;
}

#search-btn {
  display: block;
  margin: 1rem auto;
  width: 90%;
}