#header-container {
  text-align: center;
}

#header {
  background-color: #6b99fd;
  background: linear-gradient(to right, #c929c9, #ffde70, #ffde70, #c929c9);
  cursor: pointer;
  height: 70px;
  line-height: 70px;
  width: 100%;
}